/* Backgrounds: Use on <section> if you want full width  */
.bg-purple
{
    background: rgb(0,0,0);
}

.bg-purple-gradient 
{
    background: linear-gradient(90deg, rgb(81, 1, 112) 50%, rgb(175, 19, 175) 100%);    
}

/* Settings */
.custom-settings
{
    /* Default mouse cursor on everything */
    cursor: default;
    /* Prevents mouse drag */
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-select: none;
    /* Prevents text select */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Text */
.h1-white
{
    color: rgb(220, 220, 220);
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 2px;
}

.h3-white
{
    color: rgb(0,0,0);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

.h6-white
{
    color: rgb(0,0,0);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}